<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  
	<div id="spree-footer">
		<div class="container">
			<footer id="footer" class="row" data-hook>
			  <div id="footer-left" class="col-md-6" data-hook>
			    <p>&copy;&nbsp;<%= Time.now.year %>&nbsp;raffles.com</p>
			  </div>
			  <div id="footer-right" class="col-md-6" data-hook></div>
			</footer>
		</div>
	</div>

</nav>